@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");

body,
main,
html {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif  !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
header {
  background-color: rgba(10, 88, 56, 0.16);
  padding-bottom: 20px;
  
}

#nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo h1 {
  color: #0a5838;
}
#nav ul {
  list-style: none;
}
#nav ul li {
  display: inline;
  margin: 0 20px;
}
#nav ul li a {
  text-decoration: none;
  color: #0a5838;
  font-weight: bold;
}

.nav-btn button {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  background-color: transparent;
  color: #0a5838;
  font-size: 18px;
  border: 2px solid rgba(252, 209, 22, 0.62);
  border-radius: 10px;
  outline: none;
}

.nav-btn button:hover {
  background-color: #1b7a53;
  color: white;
  font-weight: bold;
  border: none;
}

/* Nav Bar media queries */

@media only screen and (max-width: 768px) {
  #nav-links {
    display: none;
  }
}
@media only screen and (max-width: 448px) {
  .nav-btn button {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
  }
  .nav-logo h1 {
    font-size: 24px;
  }
}

/* BANNER SECTION */

#banner {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between !important;
}

/* .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
.left h1 {
  
  
  width: 97%;
  color: #0a5838;
}
.banner-btn button {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  background-color: transparent;
  color: #0a5838;
  font-size: 18px;
  border: 2px solid rgba(252, 209, 22, 0.62);
  border-radius: 10px;
  outline: none;
}
.banner-btn button:hover {
  background-color: #1b7a53;
  color: white;
  font-weight: bold;
  border: none;
}

/* .right {
  width: 50%;
} */
.right .image img {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  /* margin-left: 100px; */
}

/* ABOUT SECTION */

#about {
  width: 90%;
  margin: auto;
}
.section-title h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: 800;
  color: #0a5838;
}
#about-section {
  display: flex;
  justify-content: space-between;
}
.left-img {
  width: 50%;
}
.left-img .image img {
  margin-left: 100px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

.right-info {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* NAME SECTI?ON */

#name {
  width: 100%;
  background-color: rgba(10, 88, 56, 0.16);
  padding: 30px;
}
#name-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


 #form-btn #name-section .banner-btn {
   width: 40%;
  margin: auto;
  margin-top: 30px;
}

/* FOOTER SECTION */

footer {
  height: 40px;
  background-color: #0a5838;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#day:invalid , #month:invalid {
  border: 3px solid red !important;
  
}
